In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("C:\STUDY\Data Science\Data Analysis\Projects\Fraud_Detection_Prediction\Fraud.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [4]:
df.shape

(6362620, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [6]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

# Checking the Missing Values

In [7]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

Here in this particular dataset there are no missing values.

#  Now checking the total number of fraud transaction.

Here ,
1. 0 - non-fraudulent transaction.
2. 1 - fraudulent transaction.

In [8]:
df['isFraud'].value_counts().reset_index().rename(columns={'index': 'Value', 'isFraud': 'Count'})

   Value    Count
0      0  6354407
1      1     8213

In [9]:
df['isFlaggedFraud'].value_counts().reset_index().rename(columns={'index': 'Value', 'isFraud': 'Count'})

   Value  isFlaggedFraud
0      0         6362604
1      1              16

# Removing the unnecessary columns

In [10]:
new_df = df.drop(['nameOrig' , 'nameDest'],axis=1)
new_df.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,0
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,0

In [11]:
label_encoder = preprocessing.LabelEncoder()
new_df['type']= label_encoder.fit_transform(new_df['type'])

# Splittind the Data for training

In [12]:
X = new_df.drop(columns = 'isFraud',axis=1)
Y = new_df['isFraud']

In [13]:
X.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,1,3,9839.64,170136.0,160296.36,0.0,0.0,0
1,1,3,1864.28,21249.0,19384.72,0.0,0.0,0
2,1,4,181.00,181.0,0.00,0.0,0.0,0
3,1,1,181.00,181.0,0.00,21182.0,0.0,0
4,1,3,11668.14,41554.0,29885.86,0.0,0.0,0

In [14]:
Y.head()

0    0
1    0
2    1
3    1
4    0
Name: isFraud, dtype: int64

In [15]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.2 , random_state = 42)

In [16]:
X_train.shape

(5090096, 8)

In [17]:
X_test.shape

(1272524, 8)

In [18]:
Y_train.shape

(5090096,)

In [19]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [21]:
#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, Y_train)

#Predict the response for test dataset
Y_pred = gnb.predict(X_test)

In [22]:
print("Accuracy is :",metrics.accuracy_score(Y_test, Y_pred))

Accuracy is : 0.9960377957508071

# Now Checking Accuracy of Logistic Regression for this dataset

In [26]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, Y_train)
Y_pred = classifier.predict(X_test)

In [27]:
print ("Accuracy is : ", metrics.accuracy_score(Y_test, Y_pred))

Accuracy is :  0.9992078734860796

In [34]:
import numpy as np

# Assuming you have defined the trained classifier 'classifier'

input_data = [
    694, 'CASH_OUT', 5175876.53, 5175876.53, 0.0, 7229712.73, 1.240558926E7, 0
]

# Convert non-numeric values to a consistent format (e.g., '0' or 0)
processed_data = []
for value in input_data:
    if isinstance(value, str) and not value.isnumeric():
        processed_data.append(0)
    else:
        processed_data.append(value)

# Convert the processed data to a numpy array
input_data_as_numpy_array = np.asarray(processed_data)

# Reshape the numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if prediction[0] == 0:
    print('Not a fraudulent transaction')
else:
    print('Fraudulent transaction')

[1]
Fraudulent transaction

In [37]:
import numpy as np

# Assuming you have defined the trained classifier 'classifier'

input_data = [
    694,'CASH_OUT',174839.46,1076.0,0.0,0.0,174839.46,0
]

# Convert non-numeric values to a consistent format (e.g., '0' or 0)
processed_data = []
for value in input_data:
    if isinstance(value, str) and not value.isnumeric():
        processed_data.append(0)
    else:
        processed_data.append(value)

# Convert the processed data to a numpy array
input_data_as_numpy_array = np.asarray(processed_data)

# Reshape the numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if prediction[0] == 0:
    print('Not a fraudulent transaction')
else:
    print('Fraudulent transaction')

[0]
Not a fraudulent transaction

# Q-1 Data cleaning including missing values, outliers and multi-collinearity.

    Data cleaning plays a crucial role in fraud detection to ensure the quality and reliability of the dataset. 

Missing Values : 

    1. Identify missing values : Here in our dataset basically there were no missing values but in some cases we can find missing values in various fields such as transaction amount,timestamps or any user attributes.
    2. Analyze missing data patterns: Understand the patterns and reasons behind missing values. Determine whether missing values occur randomly or have a specific pattern.

Outliers : 

    1. Identify outliers: By Using EDA(Exploratory Data Analysis) we can identify potential outliers. Outliers in fraud detection may represent unusual or suspicious transactions that require further investigation.
    1. Handling outliers: Depending on the context and severity of outliers, we can have different approaches such as Winsorization,Trimming,Robust Method,Transformation,etc.

Multi-Collinearity :

    1. Identify multi-collinearity: Multi-collinearity occurs when two or more predictor variables are highly correlated. In fraud detection, this can be problematic as it hampers the interpretation of individual predictors' contributions.
    2. Correlation analysis: Calculate correlation coefficients between predictor variables to identify highly correlated pairs. Remove one variable from each highly correlated pair to address multi-collinearity.
    3. Dimensionality reduction: Techniques like Principal Component Analysis (PCA) can be applied to reduce the dimensionality of highly correlated variables while retaining most of the information. PCA transforms the original variables into uncorrelated components, addressing multi-collinearity.

# Q-2 Describe your fraud detection model in elaboration.

Here I am giving the detailed explaination of how I trained my fraud detection model using Naive Bayes and Logistic Regression Algorithms.

Step 1 : 

    Data Collection :  Here I uploaded the dataset which includes transaction records, user profiles, account information, and other features that can help me to identify fraudulent activities.


Step 2 :

    Data Preprocessing : Here for data cleaning and preprocessing I have handle the missing values,outliers and tried to transform it into a suitable format for analysis.


Step 3 :
    
    Train-Test Split : I have splitted the dataset into the testing and training sets.The training set will be used to train the models, while the testing set will evaluate their performance.


Step 4 :
    
    Model 1 - Naive Bais Algorithm : Naive Bayes is a probabilistic algorithm that assumes independence between features. In fraud detection, it can estimate  the probability of a transaction being fraudulent based on the observed features.I have Trained the Naive Bayes model using the training set, utilizing the features and corresponding labels (fraudulent or non    fraudulent).


    Model 2 - Logistic Regression : Logistic Regression is a supervised learning algorithm that models the relationship between features and the probability  of a binary outcome (fraudulent or non-fraudulent).I have Trained the Logistic Regression model using the training set and the labeled data.
    
    
Step 5 :

    Model Evaluation :I Evaluated both models using the testing set and than Compared the performance of Naive Bayes and Logistic Regression models to determine their effectiveness in detecting fraud.

# Q-3 How did you select variables to be included in the model?

    The process of selecting variables (also known as feature selection) for a fraud detection model involves careful consideration of various factors.
    The main thing that I kept in mind while doing feature selection was domain knowledge. I started gathering knowledge about this particular domain like which are the features that will play an important role during my model training and I tried to explore the data as much as possible.So than after I came to know about the important features that I have to take while model training.

# Q-4 Demonstrate the performance of the model by using best set of tools.

    Here I demonstrated My model's Performance by calculating the accuracy calculated by both of the algorithms.

# Q-5  What are the key factors that predict fraudulent customer?

    The key factors that predict fraudulent customer are  : 
    1. Type of tansaction
    2. Total Amount
    3. Old Balance of Origin and New Balance of Origin
    4. Old Balance of Destination and New Balance of Destination

# Q-6 Do these factors make sense? If yes, How? If not, How not?

    The answer is Yes. Here i am giving the detailed exaplaination of how this factors makes sense.
    
    
    Type: The transaction type (e.g., CASH_OUT, TRANSFER, etc.) can be a significant factor in identifying potential fraudulent activity. Certain transaction types, such as CASH_OUT or TRANSFER, are more commonly associated with fraud attempts.

    Amount: The transaction amount is an important factor to consider. Unusually large or small transaction amounts compared to the customer's typical transaction behavior or average transaction amounts within the dataset can be indicative of fraudulent activity.

    Old Balance and New Balance of Origin Account: Analyzing the old and new balances of the origin account can provide insights into the behavior of the customer before and after the transaction. Sudden large changes or negative balances in the origin account may raise suspicions of fraudulent activity.
    
    Old Balance and New Balance of Destination Account: Examining the old and new balances of the destination account can provide insights into the changes in the account balance as a result of the transaction. Unusual patterns, such as sudden large increases or decreases in the destination account balance, can be indicative of fraudulent behavior.

# Q-7 What kind of prevention should be adopted while company update its infrastructure?

    When updating the infrastructure after the fraud detection model training, it is essential to consider specific prevention measures to protect the integrity and security of the model and the overall infrastructure. Here are some key prevention measures to adopt:
    
    1. Model Security
    2. Secure Data Transfer
    3. Model Version Control
    4. Testing in a Controlled Environment
    5. Regular Monitoring and Auditing
    6. Employee Training and Awareness
    
    By adopting these prevention measures during the infrastructure update after the fraud detection model training, we can enhance the security and integrity of the model, protect sensitive data, and maintain a robust and resilient infrastructure to combat fraud effectively.

# Q-8 Assuming these actions have been implemented, how would you determine if they work

    To determine if the implemented prevention measures are effective, we can employ various methods to assess their performance and evaluate the overall security of the updated infrastructure. Here are some approaches to consider:
    
    1. Security Testing
    2. Incident Response and Monitoring
    3. Performance Metrics
    4. User Feedback and Reviews
    5. External Assessments
    6. Regular Training and Awareness
    7. Continuous Improvement
    
    By utilizing these assessment methods, we can gain insights into the effectiveness of the implemented prevention measures and make informed decisions about refining and enhancing the security of the updated infrastructure. Regular evaluation and monitoring are essential to maintaining a robust and resilient security posture.

#                                     Thank You!